<!doctype html>
<html data-theme="light" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for_css }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/styles.css') }}">
    <title>SchoolMap</title>
</head>
<body>
<div class="container">
    <div class="floor-buttons">
        <input type="radio" name="floor" id="thirdFloorBtn" value="3">
        <label for="thirdFloorBtn">3</label>

        <input type="radio" name="floor" id="secondFloorBtn" value="2">
        <label for="secondFloorBtn">2</label>

        <input type="radio" name="floor" id="firstFloorBtn" value="1" checked>
        <label for="firstFloorBtn">1</label>
    </div>

    <div class="search-wrapper">
        <input type="text" placeholder="Поиск объекта" id="searchInput">
    </div>

    <div class="map-container">
        <svg id="schoolMap" viewBox="0 0 800 1200" xmlns="http://www.w3.org/2000/svg">
            <g id="floor-1" class="floor-layer">
                <!-- Коридоры -->
                <rect class="corridor" x="0" y="0" width="220" height="830"></rect>
                <rect class="corridor" x="640" y="0" width="220" height="745"></rect>
                <rect class="corridor" x="219" y="0" width="422" height="190"></rect>
                <rect class="corridor" x="580" y="320" width="50" height="150" transform="rotate(-30 620 320)"></rect>

                <!-- Двери -->
                <rect class="door" x="140" y="80" width="10" height="48"></rect>
                <rect class="door" x="140" y="132" width="10" height="48"></rect>

                <rect class="door" x="730" y="180" width="29" height="10"></rect>
                <rect class="door" x="761" y="180" width="29" height="10"></rect>

                <rect class="door" x="730" y="320" width="29" height="10"></rect>
                <rect class="door" x="761" y="320" width="29" height="10"></rect>

                <rect class="door" x="615" y="390" width="40" height="10" transform="rotate(240 615 390)"></rect>
                <rect class="door" x="626" y="390" width="30" height="10" transform="rotate(60 626 390)"></rect>

                <!-- Стены коридора со стороны столовой -->
                <rect class="wall" x="0" y="0" width="80" height="830"></rect>
                <rect class="wall" x="79" y="0" width="62" height="30"></rect>
                <rect class="wall" x="140" y="189" width="80" height="117"></rect>
                <rect class="wall" x="210" y="305" width="10" height="50"></rect>
                <rect class="wall" x="140" y="354" width="80" height="476"></rect>
                <rect class="wall" x="0" y="705.5" width="360" height="125"></rect>

                <!-- Стены горизонтального коридора -->
                <rect class="wall" x="140" y="0" width="720" height="80"></rect>
                <rect class="wall" x="140" y="180" width="590" height="10"></rect>
                <rect class="wall" x="830" y="79" width="30" height="102"></rect>

                <!-- Стены коридора со стороны КПП -->
                <rect class="wall" x="640" y="189" width="90" height="16"></rect>
                <rect class="wall" x="640" y="204" width="10" height="32"></rect>
                <rect class="wall" x="640" y="235" width="90" height="85"></rect>
                <rect class="wall" x="640" y="319" width="20" height="11"></rect>
                <rect class="wall" x="680" y="319" width="50" height="11"></rect>
                <rect class="wall" x="515" y="350" width="121" height="40" rx="20" ry="20" transform="rotate(-30 520 290)"></rect>
                <rect class="wall" x="790" y="180" width="70" height="650"></rect>
                <rect class="wall" x="599" y="650" width="192" height="95"></rect>
                <rect class="wall" x="510" y="650" width="91" height="180"></rect>
                <rect class="wall" x="760" y="744" width="31" height="61"></rect>

                <!-- Стены гардероба -->
                <circle class="wall" r="40" cx="630" cy="455"></circle>
                <rect class="wall" x="630" y="415" width="40" height="65"></rect>
                <rect class="wall" x="590" y="455" width="10" height="250"></rect>
                <rect class="wall" x="660" y="515" width="10" height="190"></rect>

                <!-- Объекты 1-ого этажа -->
                <rect id="canteen" class="room" x="150" y="250" width="60" height="240"></rect>
                <text x="180" y="370" font-size="11" transform="rotate(-90 180 370)">Столовая</text>

                <rect id="toilet-male-1" class="room" x="650" y="190" width="70" height="60"></rect>
                <text x="685" y="220" font-size="11">Туалет</text>

                <rect id="entrance" class="room" x="650" y="260" width="70" height="60"></rect>
                <text x="685" y="290" font-size="11">КПП</text>

                <rect id="sofas" class="room" x="670" y="590" width="60" height="60"></rect>
                <text x="700" y="620" font-size="11">Диваны</text>

                <rect id="wardrobe" class="room" x="600" y="460" width="60" height="190"></rect>
                <text x="630" y="555" font-size="11" transform="rotate(-90 630 555)">Гардероб</text>
            </g>

            <g id="floor-2" class="floor-layer" style="display: none;">
                <!-- Коридоры -->
                <rect class="corridor" x="0" y="0" width="220" height="830"></rect>
                <rect class="corridor" x="640" y="0" width="220" height="830"></rect>
                <rect class="corridor" x="219" y="0" width="422" height="190"></rect>
                <rect class="corridor" x="219" y="640" width="422" height="190"></rect>
            </g>

            <g id="floor-3" class="floor-layer" style="display: none;">
                <!-- Коридоры -->
                <rect class="corridor" x="0" y="0" width="220" height="830"></rect>
                <rect class="corridor" x="640" y="0" width="220" height="830"></rect>
                <rect class="corridor" x="219" y="0" width="422" height="190"></rect>
                <rect class="corridor" x="219" y="640" width="422" height="190"></rect>
            </g>

            <g class="stairs">
                <rect id="main-stairs" class="room" x="730" y="590" width="60" height="60">Лестница</rect>
                <text x="760" y="620" font-size="11">Лестница</text>

                <rect id="secondary-stairs" class="room" x="150" y="180" width="60" height="60"></rect>
                <text x="180" y="210" font-size="11">Лестница</text>
            </g>
        </svg>
    </div>

    <div class="zoom-controls">
        <button id="zoomInBtn">+</button>
        <button id="zoomOutBtn">-</button>
    </div>

    <div class="card" style="display: none">
        <div class="slider"></div>
        <div class="card-header">
            <h2></h2>
            <button id="closeCardBtn" class="close-btn">×</button>
        </div>
        <div class="img-wrap">
            <img src="" alt="Картинка объекта">
        </div>
        <div class="description"></div>
    </div>

    <div id="qr-button">
        <svg fill="#000000" viewBox="0 0 24 24" id="qr-code-scan-2" data-name="Line Color"
             xmlns="http://www.w3.org/2000/svg" class="icon line-color">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path id="secondary" d="M11,11H7V7h4Zm6-4H15V9h2ZM13,17h4V13H13ZM7,17H9V15H7Z"
                      style="fill: none; stroke: #3b82f6; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                <path id="primary" d="M8,3H4A1,1,0,0,0,3,4V8"
                      style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                <path id="primary-2" data-name="primary" d="M21,8V4a1,1,0,0,0-1-1H16"
                      style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                <path id="primary-3" data-name="primary" d="M3,16v4a1,1,0,0,0,1,1H8"
                      style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                <path id="primary-4" data-name="primary" d="M16,21h4a1,1,0,0,0,1-1V16"
                      style="fill: none; stroke: #000000; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
            </g>
        </svg>
    </div>

    <div class="scanner-container">
        <div class="container-wrapper">
            <button class="close-btn">×</button>
            <h3>Отсканируйте qr-код у объекта, чтобы найти его на карте.</h3>
            <div id="qr-reader"></div>
            <div id="qr-error"></div>
            <button id="camera-btn" class="deactivated">Сканировать</button>
        </div>
    </div>
</div>

<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
<script src="{{ url_for_js }}"></script>
{#<script src="{{ url_for('static', path='/scripts/main.js') }}"></script>#}
</body>
</html>
