<!doctype html>
<html data-theme="light" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', path='/dist/output.css') }}">
    <title>School map</title>
</head>
<body>
<div class="container mx-auto">
    <h2>School map</h2>

    <div class="card">
        <div class="slider"></div>
    </div>
</div>

<script src="{{ url_for('static', path='/scripts/main.js') }}"></script>
</body>
</html>