* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    height: 100vh;
    padding: 10px 0 10px 0;
    position: relative;
    overflow: clip;
}

h2 {
    text-align: center;
}

.card {
    position: absolute;
    width: 90%;
    height: 60vh;
    background-color: lightgray;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    margin: 3vh 5% 0 5%;
}

.slider {
    background-color: white;
    height: 6px;
    width: 100px;
    margin: 10px auto 10px auto;
    border-radius: 3px;
    touch-action: none;
}