@import "tailwindcss";

.test-dialog {
    @apply fixed top-0 left-0 w-full h-full flex justify-center items-center bg-gray-900/20;
}

.test-btn {
    @apply bg-rose-500 hover:bg-rose-600 active:bg-rose-700 text-white font-bold rounded-lg p-4;
}