* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
    /*outline: 1px solid green;*/
}

.container {
    margin: 0 auto;
    max-width: 500px;
    height: 100vh;
    padding: 10px 0 10px 0;
    position: relative;
    overflow: clip;
}

h2 {
    text-align: center;
}

.card {
    position: absolute;
    width: 90%;
    height: 50vh;
    background-color: lightgray;
    bottom: 0;
    left: 0;
    border-radius: 40px;
    margin: 3vh 5% 0 5%;
}

.slider {
    background-color: white;
    height: 6px;
    width: 80px;
    margin: 10px auto 10px auto;
    border-radius: 3px;
    touch-action: none;
}

.card > h2 {
    margin: 0 auto;
}

.card > .img-wrap {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
}

.card > .img-wrap > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card > .description {
    margin: 0 10px;
}

.floor-buttons {
    position: absolute;
    top: 90px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
}

.floor-buttons > input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.floor-buttons > label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
    color: #3e3b39;
    border: none;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    font-family: "Gill Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.25s ease, color 0.25s ease;
}

.floor-buttons > input:checked + label {
    background-color: #3e3b39;
    color: #f5f5f5;
}

.search-wrapper {
    position: absolute;
    top: 20px;
    left: 10px;
    right: 10px;
    z-index: 1;
}

.search-wrapper > input {
    width: 100%;
    background-color: #f5f5f5;
    color: #1e1d1b;
    border: 1px solid lightgray;
    border-radius: 10px;
    -webkit-box-shadow: 0 5px 15px -1px rgba(34, 60, 80, 0.15);
    -moz-box-shadow: 0 5px 15px -1px rgba(34, 60, 80, 0.15);
    box-shadow: 0 5px 15px -1px rgba(34, 60, 80, 0.15);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 20px 12px 50px;
}

.search-wrapper > input:focus {
    outline: none;
    border: 1px solid gray;
}

.search-wrapper::before {
    content: "";
    position: absolute;
    left: 15px;
    top: 50%;
    transform: scaleX(-1) translateY(-50%);
    width: 24px;
    height: 24px;
    background: url("../img/search-icon.svg") no-repeat center / contain;
    z-index: 1;
}
